/* body{
    margin:0;
    padding:0;
}
body.loading-screen -site{
    overflow:hidden;
}
.loading-screen{
    width: 100%;
    height:100vh;
    background: #A3CB38;
    position: fixed;
    top:0;
    left:0;
    z-index:9999;
    display:flex;
    align-items:center;
}
.loading-screen::before{
    content:"";
    position:absolute;
    width:80px;                                                                                                                                                                                                                                                        ,                                                                                                                                                                   
    height:80px;
    background:#F79F1F;
    left:20%;
    transform: translateX(-50%) rotate(0);
    border-radius:20px;
    animation:loading 4s infinite linear;
}
@keyframes loading{
    from{
        transform: translate(-50%) rotate(0deg)
    }
    50%{
        left:80%;
    }
    to{
        transform: translate(-50%) rotate(1440deg)
    }
} */
/*----------------------- Preloader -----------------------*/
body.preloader-site {
    overflow: hidden;
}
 
.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}
 
.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}
input:valid {
  background-color: #BBFFF0;
}
.check-ok {
  color: lime;
}
 
input:invalid ~ .check-ok {
  display: none;
}
 
input:valid ~ .check-ok {
  display: inline;
}